body {
  text-align: center;
  font-family: sans-serif, helvetica;
}
.container {
  /* background: rgba(241, 122, 142, 0.808); */
  width: 40%;
  margin: 0 auto;
}
.section {
}
.head {
  background: rgba(241, 122, 142, 0.808);
}
.head:hover {
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0) inset; */
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
}
.active {
  max-height: 300px;
  overflow: hidden;
}
